<p id="notice"><%= notice %></p>

<h1>Mix  <%= @mix.nome %> <small>por <%= @mix.autor %> </h1>
<div class="row">
<div class="span7">

</div>
</div>

<%= link_to 'Editar', edit_mix_path(@mix) %> |
<%= link_to 'Voltar', mixes_path %>
